{% extends 'base.html.twig' %}
{% block title %}Privacy Policy{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ ('css/baseStatic.css') }}">{% endblock %}
{% block body %}
    <div class="static-container">
        <section>
            <h1>Privacy Policy</h1>
        </section>
        <section>
            <h2>Who I Am</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>Acceptance of conditions and terms of use</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>Disclaimer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>Cookies and analytics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>What kinds of personal information about you do we process?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>Will the data be shared with any third parties?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>We share your data with international transfers?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>How long will the data be stored for?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>What rights do you have about your data?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>How we protect your data?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>What procedures do we use against data breaches?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
        <section>
            <h2>How can i remove my data from the platform?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nibh eu leo ullamcorper tincidunt. Integer vestibulum, ligula nec rhoncus ornare,
                lorem diam tincidunt nisl, malesuada ultricies sem est quis erat. Integer faucibus, ligula ac dapibus tincidunt, dolor ligula tristique ante,
                sed tempus augue arcu ut odio. Suspendisse luctus, elit vel semper vehicula, odio massa efficitur diam, ac iaculis justo quam at lorem. Phasellus finibus lectus erat,
                sit amet egestas arcu euismod ac. Aliquam vehicula ligula et arcu mollis ultrices. Etiam volutpat metus tortor, eu iaculis orci varius a.</p>
            <p>Curabitur facilisis libero elit, vitae suscipit ligula vehicula in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et convallis est,
                vitae porta metus. Cras lacinia sodales leo, dignissim finibus est mollis non. Curabitur risus metus,
                aliquet in risus vel, tempus varius diam. Etiam a accumsan sapien. Quisque tincidunt dictum enim, nec placerat orci laoreet id.</p>
        </section>
    </div>
{% endblock %}
