/*Index log in*/
html,
body {
    height: 100%;
}
html {
    font-size: 14px;
    height: 100%;
}
.material-icons{
    vertical-align: middle;
    padding-right: 5px;
}
.form-header{
    text-align: center;
    margin-top: 200px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.container {
    max-width: 1200px;
}
.border-top{
    margin-top: 200px !important;
}
.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}
.footer-col, .copyright-block{
    text-align: center;
}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
/* register style */
div form{
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: auto;
}
.repeat{
    margin-bottom: 0px !important;
}
.pull-left{
    float: left;
}
.terms{
    margin-left: 17px;
    margin-top: -5px;
}
.panel-body a{
    margin-bottom: 10px;
}
.grid-icon{
    display:grid;
    grid-template-columns: 50% 50%;
}