<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Inventory application">
    <meta name="author" content="Sysadm.es - Víctor Gz">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
             <a class="btn btn-outline-primary" href="{{ path('user_registration')}}">Sign up</a>
         </div>
         <div class="container">
        {% block body %}{% endblock %}
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
                 <div class="row">
                     <div class="col-6 col-md footer-col">
                         <h5>Features</h5>
                         <ul class="list-unstyled text-small">
                             <li><a class="text-muted" href="#">Managing items</a></li>
                             <li><a class="text-muted" href="#">Documentation</a></li>
                         </ul>
                     </div>
                     <div class="col-6 col-md footer-col">
                         <h5>Resources</h5>
                         <ul class="list-unstyled text-small">
                             <li><a class="text-muted" href="#">Contact</a></li>
                             <li><a class="text-muted" href="{{ path('privacy_policy') }}">Privacy policy</a></li>
                         </ul>
                     </div>
                     <div class="col-6 col-md footer-col">
                         <h5>About</h5>
                         <ul class="list-unstyled text-small">
                             <li><a class="text-muted" href="#">Sysadm.es</a></li>
                             <li><a class="text-muted" href="#">Blog</a></li>
                         </ul>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-6 col-md copyright-block">
                         <small class="d-block mb-3 text-muted">&copy; 2018 practice created by VGzsysadm - sysadm.es</small>
                     </div>
                 </div>
        </footer>
        </div>
    </body>
</html>
